{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>TableSplitter</h1>
    <p class="lead">Enter the text you see in the image. It may be blank.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12" id="app-container"></div>
</div>
{% endblock %}
{% block footerscripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script> 
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script src="{{ url_for('static', filename='js/tablesplitter.js') }}"></script>
<script>
var app = new TableSplitter.App({
  el: $('#app-container')
});
</script>
{% endblock %}
